@import "animations";


* {
  margin: 0px;
}

body {
  background-color: #00064D;
}

@font-face {
    font-family: 'gtfr';
    src: url('GT-Flexa-Regular-Italic-Trial.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'gtfr';
    src: url('GT-Flexa-Regular-Trial.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gtfxebl';
    src: url('GT-Flexa-X-Compressed-Bold-Trial.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gtfxebo';
    src: url('GT-Flexa-X-Compressed-Black-Trial.woff2') format('woff2');

    font-weight: normal;
    font-style: normal;

}

/* COLORS */
/* DEVICES */
/* FIRST SLIDESHOW */
@-webkit-keyframes slideshow1 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-1437px);
            transform: translateX(-1437px);
  }
}
@keyframes slideshow1 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-1437px);
            transform: translateX(-1437px);
  }
}

/* SECOND SLIDESHOW */
@-webkit-keyframes slideshow2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(1041px);
            transform: translateX(1041px);
  }
}
@keyframes slideshow2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(1041px);
            transform: translateX(1041px);
  }
}




.title {
  display: flex;
  align-items: center;
  /* animation: slideshow1 30s infinite linear; */
  animation: 3s linear 1s infinite running slidein;
}

 /* .title :nth-child(odd) {
  -webkit-text-stroke: 2px; $seconday;
  -webkit-text-fill-color: transparent;
} */






.container {
  border: 7px solid yellow;
}

/*
.title {
  display: flex;
  align-items: center;
  border-bottom: 7px solid yellow;
} */

.title h1 {
  font-family: gtfxebl;
  font-size: 160px;
  color: #FFF500;
}

.title .empty {
  font-family: gtfxebl;
  font-size: 160px;
  -webkit-text-stroke: 2px #FFF500;
  color: #00064D;
}

.subtitle {
  display: flex;
  align-items: center;
  border-bottom: 7px solid yellow;

}

.subtitle marquee {
  font-family: gtfr;
  font-size: 47px;
  color: #FFF500;
}

.subtitle .empty {
  font-family: gtfr;
  font-size: 47px;
  -webkit-text-stroke: 2px #FFF500;
  color: #00064D;
}

.main__container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.container__left {
  padding: 5em;
}

.container__left img {
  position: absolute;
  margin-left: -32em;
}

.container__right .body p {
  font-size: 18px;
  color: #FFF500;
  font-family: GT Flexa Trial;
}

.big__dot {
  height: 514px;
  width: 514px;
  background-color: #FFF500;
  border-radius: 50%;
  display: inline-block;
}

.small__dot {
  height: 44px;
  width: 44px;
  background-color: #FFF500;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  margin-top: 25em;
  margin-top: 28em;
  margin-left: -5em;
}

.body {
  padding: 3em;
}

.body p {
  margin-bottom: 1em;
}


.email {
  display: flex;
  align-items: center;
}

.email img {
  width: 2em;
  fill: #FFF500;
  margin-bottom: 1em;
}


